<!DOCTYPE html>
<html>
<head>
    <title>{{ item.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>Price: ${{ item.price }}</p>
    <button id="buy-button">Buy</button>

    <script>
        const stripe = Stripe('{{ stripe_public_key }}');
        const buyButton = document.getElementById('buy-button');
        
        buyButton.addEventListener('click', async () => {
            try {
                const response = await fetch(`/buy/{{ item.id }}/`);
                const { session_id } = await response.json();
                
                await stripe.redirectToCheckout({ sessionId: session_id });
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>

    <!-- Добавьте кнопку "В корзину" -->
<button onclick="addToCart('{{ item.id }}')">В корзину</button>

<!-- Форма для отправки запроса -->
<form id="add-to-cart-form" method="POST" action="{% url 'add-to-cart' item.id %}">
    {% csrf_token %}
</form>

<script>
    function addToCart(itemId) {
        const form = document.getElementById('add-to-cart-form');
        form.submit();
    }
</script>

<!-- Ссылка на корзину -->
<a href="{% url 'cart-detail' %}">Перейти в корзину ({{ order.items.count }})</a>
</body>
</html>